//Dashboard Container
table {
  border-collapse: collapse;
  border-spacing: 0;
  //box-shadow: none;
}



.unstyle,h2{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.dashboard_container {
  width: 110%;
  height: 100%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
}

.content {
  float: left;
  width: 100%;
  width: -webkit-calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: calc(100% - 100px);
}

.row {
  overflow: hidden;
  margin-bottom: 5px;
}

.cl1, .cl2, .cl3, .cl4, .cl5, .cl6, .cl7, .cl8, .cl9, .cl10, .cl11, .cl12 {
  position: relative;
  margin: 0 1% 1%;
  float: left;
}

.cl1 {
  width: 6.333%;
}

.cl2 {
  width: 14.667%;
}

.cl3 {
  width: 23%;
}

.cl4 {
  width: 31.333%;
}

.cl5 {
  width: 39.667%;
}

.cl6 {
  width: 48%;
}

.cl7 {
  width: 56.333%;
}

.cl8 {
  width: 64.667%;
}

.cl9 {
  width: 73%;
}

.cl0 {
  width: 81.333%;
}

.cl1 {
  width: 89.667%;
}

.cl2 {
  width: 98%;
}

.box {
  border: 1px solid #e0dede;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.header-box {
  overflow: hidden;
  padding: 1px 12px 1px 4px;
  border-bottom: 1px solid #e0dede;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color:white;
  background:#777777;
    .edit-box-Menu, .edit-box-Department, .edit-box-Safety, .edit-box-Anouncements {
        position: absolute;
        right: 0;
        padding: 12px;
        font-size: 1.5vw;
        cursor: pointer;
    }

    .add-box-Anouncements, .add-box-Menu, .minus-box-Anouncements, .minus-box-Menu,
    .confirm-box-Safety, .confirm-box-Department {
        opacity: 0;
        right: 0;
        position: absolute;
        padding: 11.5px;
        font-size: 1.5vw;
        transition: all 0.4s ease-out;
    }
    &:hover{
        .add-box-Anouncements, .add-box-Menu, .confirm-box-Safety, .confirm-box-Department {
            opacity: 1;
            position: absolute;
            right: 35px;
            padding: 11.5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .minus-box-Anouncements, .minus-box-Menu {
            opacity: 1;
            position: absolute;
            right: 65px;
            padding: 11.5px;
            cursor: pointer;
            transition: all 0.4s ease;
        }

    }

}

.minus-box-Anouncements-records, .minus-box-Menu-records{
    display:none;
    opacity: 0;
    position: absolute;
    padding: 5px 10px;
    transition: all 0.4s ease-out;
}
.box-Menu-delete-show .minus-box-Menu-records{
    display:inline;
    opacity: 1;
    position: absolute;
    cursor: pointer;
    padding: 0px 10px;
    transition: all 0.4s ease;
}
.box-Anouncements-show .minus-box-Anouncements-records{
    display:inline;
    opacity: 1;
    position: absolute;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.4s ease;
}

.box_add_Anouncements_input{
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.box_add_Menu_input{
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.box-Menu-add-show .box_add_Menu_input{
    pointer-events: auto;
    opacity: 1;
    transition: all 0.4s ease;
}
.box-Anouncements-add-show .box_add_Anouncements_input{
    pointer-events: auto;
    opacity: 1;
    transition: all 0.4s ease;
}
.add-box-Anouncements-confirm {
    font-size: 1.35vw;
    cursor: pointer;
    padding: 5px 10px;
}

.header-box h2 {
font-weight: 50;
font-size: 2vw;
  float: left;
}

.box-content {
  height:180px;
  padding: 5px;
  background: #f9f9f9;
  font-size:1.3vw;
}

.table {
  width: 100%;
  border: 1px solid #e0dede;
}
.table thead {
  font-weight: bold;
  background: #eaeaea;
  border-bottom: 1px solid #e0dede;
}
.table td {
  padding-left: 8px;
  padding: 3px 8px;
}
.table tbody tr:hover {
  background: #d1d1d1;
}

//happy birthday added by Chenyu

@import url(https://fonts.googleapis.com/css?family=Pacifico);

$background-color: #777777;
$abs:absolute;
$font:2.4vw "Pacifico", serif;
$text-color:white;
.happyBirthday-wrapper{
    //margin: 30px 15px;
    padding: 20px;
    width: 100%;

}
.happyBirthday{
  //background-color:$background-color;  
  font:$font;
  color:black;
  text-align:center;
  //text-shadow:1px 1px #D15162;
}

//text area added by Chenyu
#lined, .edit-box-Safety-input, .edit-box-Department-input {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 1.3vw;
  padding: 10px 0;
  line-height: 30px;
  background-image: linear-gradient(#eee 1px,transparent 1px);
  background-size: 100% 40px;
  border: 0;
  outline: 0;
}

//
.send-Safety-message{
  float:right;
  font-size: 0.8vw;
  max-width: 100%;
}
