@import '_normalize.scss';
@import '_base.scss';

//status tag toggle switcher of OperatorManagement added by Chenyu

.OperatorManagement-nav li {
    width: 32%;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px;
    border-top: solid;
    border-width: 5px;
    border-top-color: #ca5549;
    font-size: 1.2em;
    &:hover {
      border-top: solid;
      border-top-color: #ca5549;
    }
    &:active {
        color: #ca5549;
        border-width: 5px;
    }
    a {
        text-decoration:none;
    }
}

//OperatorManagement Page added by Chenyu
.OperatorManagement{
    //text-align: center;
    margin: 30px auto;
    //max-width: 500px;
    padding: 10px;
    width: 50%;
    position: relative;
    background: #FFF;
    padding: 20px;
    //overflow: hidden;
    height:500px;
    //transition: max-height 0.7s ease-in; 
    //transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);

}

.toggle-OperatorManagement-page .OperatorManagement{
    padding: 20px;
    max-height:200px;
}

.toggle-OperatorManagement-import-page .OperatorManagement{
    padding: 20px;
    max-height:350px;
}

.toggle-OperatorManagement-page .OperatorManagement-add{
    display:none;
    opacity: 0;
}

.toggle-OperatorManagement-import-page .OperatorManagement-add{
    display:none;
    opacity: 0;
}

.toggle-OperatorManagement-page .OperatorManagement-edit{
    //padding: 10px;
    //display:block;
    opacity: 1;
}
.OperatorManagement-edit{
    //display:none;
    opacity: 0;
}

.OperatorManagement-import{
    display:none;
    opacity:0;
}

.toggle-OperatorManagement-import-page .OperatorManagement-import{
    display:flex;
    opacity:1;
}
