<template name="SearchData">
	<form>
  <div class="group">
    <div class="left">
    	<label>Start from</label>
    	<input type="text" id="picker-1" placeholder="Start Date">
    </div>
    <div class="right">
    	<label>To</label>
      <td><input type="text" id="picker-2" placeholder="End Date"></td>
    </div>
  </div>
  <div class="group">
    <div class="left">
    	<label>Building</label>
    	{{> selectbuilding}}
    </div>
    <div class="right">
      	<label>Cell</label>
    	{{> selectcell}}
    </div>
  </div>
    <div class="group">
	    <div class="left">
	    	<label>Partnumber</label>
	    	<div class ="partnumberchange">{{> selectbox}}</div>
	    </div>
  	</div>
    <div class="group">
	    <div class="left">
	    	<label>Operator</label>
			{{> selectinput}}
	    </div>
  	</div>
    <div class="group">
	    <div class="left">
	    	<input type="checkbox" id="checkbox1">
	    	<label for="checkbox1">First Shift</label>
	    </div>
	    <div class="right">
	    	<input type="checkbox" id="checkbox2">
	    	<label for="checkbox2">Second Shift</label>
	    </div>
  	</div>
	<hr>
    <div class="group">
        <div class="left">
            <button class="search">Search!</button>
        </div>
    </div>
</form>
</template>