<template name="selectpart">
    <div class="styled-select">
        <select {{activeOrg isCurrent}}>
            <option selected>Select</option>

            {{#if selectpart selected}}
                <option selected>{{selected}}</option>
                <option disabled="true">---New Selection---</option>
            {{else}}
                {{#if pre_selectedcheck pre_selected isCurrent documentid}}
                    <option selected>{{pre_selected}}</option>
                    <option disabled="true">---New Selection---</option>
                    
                {{/if}}
            {{/if}} 


            <option>Part Not Available</option>
            {{#each partnumber}}
                <option>{{part}}</option>
            {{/each}}
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
    </div>
</template>

