<template name="selectdepartment">
    <div class="styled-select">
        <select class ="change-building">
            <option selected>Select</option>
            <option>21 Tool Room</option>
            <option>22 Shipping</option>
            <option>26 Quality</option>
            <option>31 Factory Building</option>
            <option>51 MRS</option>
            <option>54 Poke Thru</option>
            <option>55 Poles</option>
            <option>56 Plugmold</option>
            <option>61 Infloor</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
    </div>
</template>