<template name="selectinput">
    <select class="select-tag-dropdown" id="select-tag" name="name">
      <option disabled selected>Name</option>
      {{#if display_option_all}}
      	<option>All</option>
      {{/if}}
<!--       {{#unless uploading}}
	      {{#each operators}}
	      	<option>{{operatorName}}</option>
	      {{/each}}
      {{else}}
    		<p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
	  {{/unless}} -->
		{{#each operators}}
			<option>{{operatorName}}</option>
		{{/each}}
    </select>
</template>