<template name="selectcell">
    <div class="styled-select">
        <select class="change-cell">
            <option selected>Select</option>
            {{#if selectcell selected}}
                <option selected>{{selected}}</option>
                <option disabled="true">---New Selection---</option>
            {{/if}}
            {{#each cell}}
                <option>{{mixedcellname}}</option>
            {{/each}}
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
    </div>
</template>