<template name="selectbuilding">
    <div class="styled-select">
        <select class ="change-building" data-id="{{type}}">
            {{#if ismanage_tasks type}}
                <option selected>All</option>
            {{else}}
                <option selected>Select</option>
            {{/if}}
            {{#if selectbuilding selected type}}
                <option selected>{{selected}}</option>
                <option disabled="true">---New Selection---</option>
            {{/if}}
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4A</option>
            <option>4</option>
        </select>
        <div class="select-button"><div class="small-arrow-down"></div></div>
    </div>
</template>