<template name="upload">
<!--   <h4 class="page-header">Upload a CSV</h4> -->

<!--   {{#unless uploading}}
    <input type="file" name="uploadCSV">
  {{else}}
    <p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
  {{/unless}} -->
  {{#each getcell}}
  {{/each}}

	  <form>
		 <div class="full-page">
		  Drop your file here...
		 </div>
		 <div class="file">
		 	{{#unless uploading}}
			  <span>Drag and drop you file here.</span>
			  <input type="file" name="{{type}}">
			  {{else}}
		    <p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
		  {{/unless}}
		 </div>
	</form>
</template>