@import 'sass/_normalize.scss';
@import 'sass/_base.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/*
li {

    font-size:1.3vw;
}@media screen and (min-width: 1200px) {
  li {
     font-size: 16px;
  }
}
*/
body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
}

h2 {
    font-weight: 100;
    font-size: 3.157vw;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px;
}
input[type="text-2"] {
    padding: 10px 10px 7px;
    width:100%;
}
input[type="text-3"] {
    //padding: 10px 10px 7px;
    width:90%;
}
input[type="code"] {
    padding: 10px 10px 7px;
    width:222.5%;
}

input[type="comment"]{
    padding: 10px 10px 7px;
}

.btn{
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size:1.05em;
    width:100%;
    max-width:110px;
    padding: 10px 15px 7px;
    color: #FFF;
    letter-spacing: 1px;
    //border: solid 2px $action;
      border: 0;
    border-radius: 5px;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}@media screen and (min-width: 1200px) {
  btn, button {
     font-size: 1em;
  }
}
button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size:1.05vw;
    width:100%;
    max-width:110px;
    max-height:55px;
    padding: 10px 15px 7px;
    color: #FFF;
    letter-spacing: 1px;
    //border: solid 2px $action;
      border: 0;
    border-radius: 5px;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}@media screen and (min-width: 1200px) {
  btn, button {
     font-size: 1em;
  }
}

.btn-text, .toggle-Test-mode, .toggle-back {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size:1em;
    max-width:150px;
    padding: 10px 15px 7px;
    color: #FFF;
    letter-spacing: 1px;
    //border: solid 2px $action;
      border: 0;
    border-radius: 5px;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
    background: transparent;
}
.button1 {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size:1em;
    max-width:150px;
    padding: 10px 15px 7px;
    color: #FFF;
    letter-spacing: 1px;
    //border: solid 2px $action;
      border: 0;
    border-radius: 5px;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
    background: transparent;
}

.btn-home {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size:1em;
    width:150px;
    padding: 10px 15px 7px;
    color: #FFF;
    letter-spacing: 1px;
    //border: solid 2px $action;
      border: 0;
    border-radius: 5px;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-primary {
    @extend .btn;
    background: $accent;
    border: solid 2px $accent;
    &:hover {
        background: $accent - 30;
        border-color: $accent - 30;
    }
}@media screen and (min-width: 1200px) {
  btn-primary {
     font-size: 0.8em;
  }
}


.header {
    background: white;
    border-bottom: 1px solid $dgrey;
    color: $text;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li + li {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/met-stars.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 40px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    /*
    
    tr:nth-child(even) {
        background: #EEE
    }
    */
    td:nth-child(1),td:nth-child(2){
        width:100px;
    }
    td, th {
        text-align: center;
        padding: 10px 10px;
    }
    th {
        text-align: center;
        text-transform: uppercase;
        background: $dblue;
        color: #fff;
    }

    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
    &.add-tasks {
        transform: translate3d(0, 80px, 0);
    }
    &.add-tasks-expand {
        transform: translate3d(0, 130px, 0);
    }
    &.toggle-changeover {
        transform: translate3d(0, 100px, 0);
    }
 /*   thead1{
        position: relative;
         td:nth-child(2),td:nth-child(4){
            //background: #EEE;
            width:200px;
            overflow: hidden;
        }
         td:nth-child(8){
            //background: #EEE;
            text-align: right;
            overflow: hidden;
        }
    }
*/
}


//user_id class th
.user_id {
    color: $blue;
    cursor: pointer;
}

//user-edit style
.user-edit{
    position: absolute;
    left:-300px;
    top: 0;
    background: #FFF;
    z-index: 10;
    padding: 20px;
    width: 280px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    .close-edit-mode {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 1.2em;
        font-transform: uppercase;
        cursor: pointer;
    }
}

.edit-mode .user-edit{
    opacity: 1;
}

//pop-up windows template addded by chenyu

.addtask-popup{
    text-align: center;
    width: 100%;
    position: relative;
    //left:450px;
    //top: 250px;
    background: #FFF;
    //padding: 20px;
    //width: 280px;
    //display: none;
    opacity: 0;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.7s ease-in; 
    //transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    .close-addtask-popup {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 1.2em;
        font-transform: uppercase;
        cursor: pointer;
    }
}

.add-tasks .addtask-popup{
    padding: 20px;
    opacity: 1;
    //display: inline-block;
    max-height:250px;
}
.add-tasks-expand .addtask-popup{
    padding: 20px;
    opacity: 1;
    //display: inline-block;
    max-height:520px;
}

//select box addded by chenyu
.styled-select {
      position:relative; 
      border:solid 1px #888888; 
      overflow:hidden; 
      display:block; 
      width:100%;
      min-width:5em;
      //max-width:12em;
      margin:auto; 
      font-size: 1em; /*use this to scale the select*/
    }


    .styled-select select {
      width:100%;
      font-size: .9em;
      height: 2em;
      margin: 0;
      background: rgb(0, 0, 27); /*IE Fallback*/
      background: rgba(0, 0, 27, 0);
      color:#888;
      border:none;
      outline:none;
      display: inline-block;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      cursor:pointer;
    }
    
    .styled-select select option {
        background-color: #fff;
    }

    .styled-select .select-button {
      background-color:#68696D;
      right:0; top:0;
      position:absolute;
      pointer-events:none;
      /*text-align: center; vertical-align: middle; */
      width: 2em; height: 1.8em;
    }
    
    .styled-select .select-button .select-button-text {
        color: #fff;
        line-height: 1.8em;
        text-align: center;
        display: block;
    }
    
    .styled-select .select-button .select-button-text span{
        font-size: 1em;
    }


    .small-arrow-down {
        width: 0;   
        height: 0;   
        border-left: .4em solid transparent; 
        border-right: .4em solid transparent; 
        border-top: .4em solid #fff; 
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
//clock header style added by Chenyu



//round status button added by chenyu
@viewport{
    zoom: 1.0;
    width: device-width;
}


.outline{
    margin:0 auto;
    box-sizing:border-box;
    width:40px;
    height:40px;
    border-bottom:solid 1px #123596;
    display:block;
    border-radius:999px;
    opacity:1;
    background:rgba(099,099,099,.2);
}

.outline:hover {
    width:40px;
    height:40px;
    border:solid 2px #36baff;
    opacity:1;
    background:rgba(099,099,099,0);
    transition:1s;
    -webkit-transform:rotate(360deg);
}

.outline:active {
  border:solid 1px #ffb400;
  transition:0s;
}

.touch:active {
    width:40px;
    height:40px;
  border-radius: 999px;
  box-sizing: border-box;
  border:solid 10px tansparent;
  background: blue;
  transition: .6 ease;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}


.outlineinactive{
    margin:0 auto;
    box-sizing:border-box;
    width:40px;
    height:40px;
    border-bottom:solid 1px #123596;
    display:block;
    border-radius:999px;
    opacity:1;
    background:rgba(099,099,099,.2);
}

.outlineinactive:hover {
    width:40px;
    height:40px;
    border:solid 2px #36baff;
    opacity:1;
    background:rgba(099,099,099,0);
    transition:1s;
    -webkit-transform:rotate(360deg);
}
//gowrong check added by chenyu
.content-101 .icon-box > .icons{
    width:80px;
    height:80px;
    line-height:80px;
    border:2px solid #F45368;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #F45368;
    position: relative;
    z-index: 99;
}
.content-101 .icon-box > .icons:after{
    content: "";
    background-color:#F45368;
    top: -2px;
    position: absolute;
    width: 80px;
    height: 80px;
    left: -2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: transform 0.4s ease 0s, opacity 0.3s ease 0s;
    -moz-transition: transform 0.4s ease 0s, opacity 0.3s ease 0s;
    -ms-transition: transform 0.4s ease 0s, opacity 0.3s ease 0s;
    -o-transition: transform 0.4s ease 0s, opacity 0.3s ease 0s;
    transition: transform 0.4s ease 0s, opacity 0.3s ease 0s;
    z-index: -9;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.content-101 .icon-box-animaiton:hover .icon-box > .icons:after{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    color: #fff;
}
.content-101 .icon-box-animaiton:hover .icon-box > .icons:before{
    color:#fff;
}
.content-101 .icon-box-animaiton h3{
    text-transform: uppercase;
    font-size: 18px;
}

.content-101 .more-section{
    text-transform: uppercase;
    font-size: 11px;
    color: #333;
    display: inline-block;
}
.content-101 .icon-box-animaiton:hover .more-section{
    border-bottom: 1px dotted;
    text-decoration: none;
}
.content-101 .more-section i{
    color: #F45368;
}

//time display user-defined added by chenyu
.wrapper {
    //width:600px;
    width:100%;
    margin: 0 auto;
}

#block1 {
 display: inline-block;
    margin: 10px 10px;
    float:left;
    h1 {
        margin: 10px 10px;
        font-size: 5vw;
    }@media screen and (min-width: 1200px) {
        h1 {
        font-size: 60px;
  }
}

}

#block2
{
    font-family: 'Open Sans', sans-serif;
    float:right;
    background-color: #F5F5F5;
    margin: 30px 15px;
    //padding: 20px;
    width: 100%;
    text-align:center;
}
#block3
{
    font-family: 'Open Sans', sans-serif;
    float:right;
    background-color: #F5F5F5;
    margin: 15px 15px;
    padding: 20px;
    width: 25%;
    text-align:center;
    font-size: 1.3vw;
}@media screen and (min-width: 1200px) {
  #block3 {
     font-size: 17px;
  }
}
#block4
{
    font-family: 'Open Sans', sans-serif;
    float:right;
    background-color: #F5F5F5;
    margin: 15px 15px;
    padding: 20px;
    width: 15%;
    text-align:center;
    font-size:1.3vw;
}@media screen and (min-width: 1200px) {
  #block4 {
     font-size: 17px;
  }
}

//icon row added by Chenyu



a {
   color:inherit;
}
.icon-row {
    margin: 20px auto;
    width: 100%;
    button{
            border-radius: 0.25em;
    }
    i {
        border-radius: 4px;
        cursor: pointer;
        font-size: 44px;
        margin: 0px 20px;
        padding: 20px 25px;
        transition: all 400ms ease-in-out;
        .fa-commenting{
          border: 7px solid black;
        }
        &:hover {
            background: #FFF;
            color: #ca5549;
        }

        &:active {
            color: #FFF;
            background: darken(#ca5549,5%);
            box-shadow: inset 0px 1px 2px darken(#ca5549,30%);
        }


    }
    i1 {
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 15px;
    }
}


.second {
    background: #f2f2f2;
    color: #a9b0ba;
    width: 100%;
}
//div container added by chenyu
.tagsname {
    color: #d14d57;
    border:2px solid #d14d57;
    border-radius:50px;
    display: inline-block;
    &:hover {
        border:2px solid $dblue;
        border-radius:50px;
        width: 100%;
        a > i {
            opacity: 1;
            display: inline-block;
            transform: translate3d(5px, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 10px;
        color: #d14d57;
        display: block;
        font-size: 1em;
        //text-decoration: none;
        //transition: all 0.3s ease;
        span {
            font-size: 1em;
        }

        > i {
            transform: translate3d(5px, 0,0);
            color: $dblue;
            display: none;
            transition: background 0.3s ease;
        }
        &:hover {
            color: $dblue;
            //background: white;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

//one row clock added by Chenyu
.clock-row {
    width: 100%;
    i {
        cursor: pointer;
    }
    il {
        float: left;
    }
}

//Changeover added by Chenyu
.changover-popup{
    text-align: center;
    width: 100%;
    position: relative;
    background: #FFF;
    //padding: 20px;
    opacity: 0;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.7s ease-in; 
    //transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);

}

.toggle-changeover .changover-popup{
    padding: 20px;
    opacity: 1;
    max-height:250px;
}


//Search Page added by Chenyu
.search-shrink{
    //text-align: center;
    margin: 30px auto;
    //max-width: 500px;
    padding: 10px;
    width: 50%;
    position: relative;
    background: #FFF;
    padding: 20px;
    //overflow: hidden;
    height:540px;
    transition: max-height 0.7s ease-in; 
    //transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);

}
.Mask_managetasks .displayChart{
    display:none;
    opacity: 0;
}
.Mask_managetasks_charts .displayChart{
    opacity: 1;
}
.Mask_managetasks_charts .search-shrink{
    display:none;
    opacity: 0;
}

.toggle-searchpage .search-shrink{
    padding: 20px;
    max-height:250px;
}
.toggle-GenerateChart .search-shrink{
    display:none;
    opacity: 0;
}

.dateRange{
    opacity: 1;
}
.toggle-searchpage .dateRange{
    display:none;
    opacity: 0;
}
.findEntry{
    opacity: 0;

}
.toggle-searchpage .findEntry{
    opacity: 1;
}

//input box added by Chenyu

.group:after {
    content: "";
    display: table;
    clear: both;
}
.left {
    float: left;
    padding:5px;
}
.right {
    float: right;
    padding:5px;
}

form {
  font-size: 1.3vw;
  width: 75%;
  margin: 0 auto;
}@media screen and (min-width: 1200px) {
  form {
     font-size: 1em;
  }
}
form div.group > div {
    width: 46%;
    margin: 0 0 .5em;
}


//check box added by Chenyu

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label:before {
  content: '';
  display: inline-block;
  border: 2px solid #68696D;
    margin-right: 10px;
  height: 20px;
  width: 20px;
    vertical-align: middle;
  transition: all .1s linear;
}

input[type=checkbox]:checked + label:before {
  border-color: #68696D;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-top-width: 0px;
  border-right-width: 0px;
    transform: rotate(-45deg) translate(2px, -2px);
  height: 11px;
  width: 20px;
}

//status tag toggle switcher added by Chenyu

.toggle-search ul {margin: 0;
  background-color: #2142A6;
}

.search-nav li {
    width: 49%;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px;
    border-top: solid;
    border-width: 5px;
    border-top-color: #ca5549;
    font-size: 1.2em;
    &:hover {
      border-top: solid;
      border-top-color: #ca5549;
    }
    &:active {
        color: #ca5549;
        border-width: 5px;
    }
    a {
        text-decoration:none;
    }
}
//Search Bar added by Chenyu
.iwg-input-container {
  position: relative;

  &:focus-within {
    .iwg-input-border:before, .iwg-input-border:after {
      content: '';
      width: 48%;
      height: 3px;
      display: block;
      background: #ca5549;
    }
  }

  .iwg-input-border:before, .iwg-input-border:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 2px;
    position: absolute;
    background: #33CC8D;
    transition: 0.2s ease all;
  }

  .iwg-input-border:before {
    left: 50%;
  }

  .iwg-input-border:after {
    right: 50%;
  }

.inputID, .inputPart, .inputCell, .inputEEnumber {
    color: #aaa;
    font-weight: bold;
    width: 100%;
    font-size: 24px;
    outline: none;
    border: none;
    padding: 16px;
    background: rgba(0, 0, 0, 0.003);

    &::placeholder {
      color: #dadada;
    }
    
    &:placeholder-shown {
      + .iwg-input-border:before {
        content: '';
        width: 48%;
        height: 1px;
        background: gray;
      }

      + .iwg-input-border:after {
        content: '';
        width: 48%;
        height: 1px;
        background: gray;
      }
    }

    &:not(:placeholder-shown) {
      + .iwg-input-border:before {
        content: '';
        width: 48%;
        height: 3px;
        background: #ca5549;
      }

      + .iwg-input-border:after {
        content: '';
        width: 48%;
        height: 3px;
        background: #ca5549;
      }
    }
  }
}

//report added by Chenyu
.displayChartContainer {
  padding-top:5px;
  width: 100%;
  height: 100%;
  display: flex;
}
.datapad {
  //background-color: #ecf0f1;
  min-width: 7.5%;

}
.report-table{
    box-shadow: 0 1px 1px #333;
}
.charts {
  display: flex;
  min-width: 100%;
  height: 120%;
  //flex-flow: row wrap;
  //justify-content: left;
}
  
.chart1 {
  //background-color: #ecf0f1;
  width: 45%;
  height: 110%;
  //margin: .5em 1.5em;
}
.chart2 {
  //background-color: #ecf0f1;
  width: 45%;
  height: 110%;
  //margin: .5em 1.5em;
}

.tabs {
  list-style: none;
  //color: #3498db;
  font-family: Arial;
  
  a {
    padding: 1em;
    text-decoration: none;
    color: #3498db;
  }
  
  li {
    list-style-type: none;
    list-style-position:inside;
    //padding: .25em;
    font-size: 1em;
    transition: all .2s ease;

  }
  li:hover {
    color: #3498db;
    //padding-right: 1em;
    font-size: 2em;
  }
}
//print-hide-bar added by Chenyu
.print-hide-bar{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
    transition:all .3s ease-out;
}
//Print out button added by Chenyu
button1.print-button {
float:right;
  width: 100px;
  height: 100px;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button1.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button1.print-button {
  position: relative;
  padding: 0;
  border: 0;
  
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button1.print-button:hover .print-icon::after {
  height: 135%;
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );
  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button1.print-button:hover {
  cursor: pointer;
}

button1.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button1.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}

//back label added by chenyu
.wrapper_back{
float:left;
    //text-align:center;
    font-size:180%;
    //margin:2em;
    font-family: Calibri, arial, sans-serif;
}
.back{
    
    color:black;
    padding-top:1.8em;
    display:inline-block;/* or block */
    position:relative;
    border-color:white;
    text-decoration:none;
    transition:all .3s ease-out;
}
.back:before{
    content:'▲';
    font-size:.9em;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-.7em;
    border:solid .13em white;
    border-radius:10em;
    width:1.4em;
    height:1.4em;
    line-height:1.3em;
    border-color:inherit;
    transition:transform .5s ease-in;
}

.back:hover:before{
    transform: rotate(360deg);
}



